.containerNav{
    display: flex;
   
}
.logo{
    width: 40px;
    height: auto;
    
}
.titleP{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    border-right: 40px;
    padding-right: 60px;

}